@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Orbitron:wght@400;500&display=swap');

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color:black;
  width: 100vw;
  height: 60px;
  position: fixed;
  z-index: 20;
  top:0;
}
.link {
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  /* flex-wrap: nowrap; */
  /* justify-content: space-evenly; */
  padding-right: 4vw;
  padding-top: 2vh;
}

.logo {
  font-size: 38px;
  margin-top: 0.12rem;
  margin-left: 1rem;
  width: 200px;
  height: 50px;
}
.link-wrapper {
  display: flex;
  /* flex-direction: row-reverse; */
  flex-wrap: nowrap !important;
  flex-shrink: 1;
  max-height: 60px;
  right: 0;
  white-space: nowrap;
}
.links {
  flex-wrap: nowrap;
  position: absolute;
  padding-left: 50vw;
  max-height: 60px;
  flex-shrink: 1;
  /* align-content: flex-end; */
  /* margin-right: 0; */
  /* order: -1; */
}
@media only screen and (max-width: 1290px) {
.links {
  padding-left: 10vw
}
}