* {
  padding: 0;
  box-sizing: border-box;
}

.devs{
  font-family: 'Varela Round', sans-serif;
  margin-top: 60px;
  text-align: center;
  font-size: 6vh;
}
.cardbox {
  background-image: linear-gradient(#B760E0, #60E084);
  width: 75vh;
  height: 75vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  border-radius: 16px;
  padding: 10px;
  display: grid;
  row-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(255,255,255,.1);
}

.dev {
  background-color: white;
  opacity: 0.5;
  border: 5px black;
  border-radius: 10px;
  align-content: center;
  padding-top: 4vh;
  padding-left: 1.5vh;
  letter-spacing: 0.4vw;
}

.dev:hover {
  background-color: white;
  opacity: 1;
  border: 5px black;
  border-radius: 10px;
  align-content: center;
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
}

.img-about { 
  margin-right: 0.8vh;
  width: 6vh;
  height: 6vh;
  float: right;
}

.dev-name{
  float: left;
}

@media only screen and (max-width: 680px) {

  .cardbox { 
    margin-top: 4vh;  
    width: 79vw;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .devs{
    font-family: 'Varela Round', sans-serif;
    margin-top: 20vh;
    text-align: center;
    font-size: 6vh;
  }
  .img-about { 
    margin-right: 0.8vh;
    width: 8vw;
    height: 4vh;
    float: right;
    padding-top: 0.5vh;
  }
  .dev{
    height: 5vh;
    padding-top: 0;
  }
  .dev-name{
    font-size: 1.5vh;
    padding: 1.5vh;
  }
}