/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

main{
  background: red;
}
.cardbox {
  background-image: linear-gradient(#B760E0, #60E084);
  width: 75vh;
  height: 75vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  padding: 10px;
  box-shadow: 2px 2px 8px red;
  display: grid;
  row-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 100%;
  align-content: space-evenly;
}

.dev {
  /* display: grid; */
  background-color: white;
  opacity: 0.5;
  border: 5px black;
  border-radius: 10px;
  /* justify-content: right; */
  align-content: center;
  padding-top: 4vh;
  padding-left: 1.5vh;
}

.dev:hover {
  /* display: grid; */
  background-color: white;
  opacity: 1;
  border: 5px black;
  border-radius: 10px;
  /* justify-content: right; */
  align-content: center;
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
}

.img-about { 
  margin-right: 0.8vh;
  width: 6vh;
  height: 6vh;
  float: right;
}

.dev-name{
  float: left;
}
@media only screen and (max-width: 680px) {

  .cardbox {   
    width: 45vh;
    height: 55vh;
  }
  .dev-name{
    font-size: 3vh;
  }
}