* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: #151630;
}

.form-container {
  /* background-image: linear-gradient(#B760E0, #60E084); */
  width: 400px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 16px;
  padding: 120px 50px;
  box-shadow: 2px 2px 8px #000000ab;
}

.form-container h3 {
  color: white;
  font-size: large;
  text-align: center;
  margin-bottom: 3rem;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  margin-bottom: 1.5rem;
  font-size: 0.7rem;
  border-bottom: 1px solid rgba(231, 231, 231, 0.8);
  padding: 0px 30px;
}

.input:hover {
  border-bottom: 3px solid #fff;
  transition: 0.2s ease-in-out;
}

#username, 
#username::placeholder {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5rem;
  font-size: 0.8;
  padding-bottom: 0.5;
  
}
#username{
  padding-bottom: 2vh;
  letter-spacing: 0.7vh;
}
#email, 
#email::placeholder {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5rem;
  font-size: 0.8;
  padding-bottom: 0.5;
}
#email{
  padding-bottom: 2vh;
  letter-spacing: 0.7vh;
}
#password, 
#password::placeholder {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5rem;
  font-size: 0.8;
  padding-bottom: 0.5;
}
#password{
  padding-bottom: 2vh;
  letter-spacing: 0.7vh;
}
#password1, 
#password1::placeholder {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5rem;
  font-size: 0.8;
  padding-bottom: 0.5;
}
#password1{
  padding-bottom: 5vh;
  letter-spacing: 0.7vh;

}

#button {
  width: 100%;
  background: rgba(255, 255, 255, 0.39);
  border: none;
  border-radius: 30px;
  padding: 14px 14px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}

#button:hover {
  width: 100%;
  background: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 14px 14px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  outline: none;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}
