
.innerdiv {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 150px;
  }

.product-details-page {
    display: none; 
    z-index: 2;
    position: absolute;
    height: fit-content;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row;
  }

.tokendiv {
  width: 505px;
  height: fit-content;
  top: 377px;
  text-align: center;
  z-index: 2;
}

.carddiv {
  display: flex;
}