

.product-detail-page {
  background-image: url("./Rectangle39.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  overflow: scroll;
  }

  .innerdiv {
    display: flex;
  }

  

