@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Orbitron:wght@400;500&display=swap');

.full-title {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: white;
  filter: drop-shadow(0 0 0.95rem crimson)
}

.full-creator {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: white;
  filter: drop-shadow(2px 10px 4px #723398)
}

.full-image {
  z-index: 7;
  max-height: 450px;
  max-width: 350px;
  box-shadow: 10px 10px 5px black;
  margin-top: 15%;
}
