@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Orbitron:wght@400;500&display=swap');

.ether-img {
  height: 20px;
  width: 18px;
}

.description {
  width: 506px;
  background-color: white;
  font-size: 12px;
  height: 100px;
}

.price-history {
  display: inline-flex;
}

.header {
  height: 100px;
  text-align: center;
  padding-top: 35px;
  font-family: 'Orbitron', sans-serif;
}

.foots {
  background-color: white;
  display: inline-flex;
  width: 100%;
}
.button-wrapper {
  display: inline-block;
  background-color: white;
}

.token-footer {
  background-color: white;
}
