.landing-page-div {
    display: block;
    justify-content: center;
}
.landing-page {
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
}
.landing-page-title-1 {
    font-size: 9rem;
}
.landing-page-title-2 {
    font-size: xx-large
}
.landing-page-title-3 {
    font-size: x-small;
    margin-right: 20px;
}
.landing-page-2 {
    height: 500px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,.1);
    background: cover;

}
.ruler {
    border-color: rgba(255,255,255,.3);
}
.info-imporium {
    display: block;
    text-align: center;
    width: 30vw;
    margin: auto auto;
    padding: 45px;
    transform: skewY(-4deg);
    transform-origin: bottom left;
    padding: 15px 0 15px 0 ;
}
.info-nft {
    display: block;
    text-align: center;
    width: 30vw;
    margin: auto auto;
    padding-top: 3.3vh;
}
.imporium-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    /*text-shadow: -2.4px -2.4px 0 rgba(0, 0, 0, 0.548), 1px -1px 0 #000, -1px 5px 0 #000, 1px 1px 0 #000; */
    transform:  skewY(-4deg);
    transform-origin: bottom left;

    animation: gra 5s infinite;
    animation-direction: reverse;
    -webkit-animation: gra 5s infinite;
    -webkit-animation-direction: reverse;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;

}

.nft-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;


    transform: skewY(4deg);
    transform-origin: bottom right;
}
.what-is-imporium {
    margin-bottom: 10px;
    font-size: 2.5rem;

    transform: skewY(-4deg);
    transform-origin: bottom left;
}
.what-is-nft {
    margin-bottom: 10px;
    font-size: 2.5rem;

    transform: skewY(4deg);
    transform-origin: bottom right;
}
