@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@500&display=swap');
.landing-page-div {
    display: block;
    justify-content: center;
}
.landing-page {
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
}
.landing-page-title-1 {
    font-size: 9rem;
}
.landing-page-title-2 {
    font-size: xx-large
}
.landing-page-title-3 {
    font-size: x-small;
    margin-right: 20px;
}
.landing-page-2 {
    height: fit-content;
    color: white;
    font-family: 'M PLUS Code Latin', sans-serif;
    display: block;
    justify-content: space-evenly;
    margin: auto;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,.1);
    background: cover;
    padding: 30px 0 30px 0;
    opacity:0.7;
}
.landing-page-3 {
    height: 500px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,.1);
    background: cover;

}
.ruler {
    border-color: rgba(255,255,255,.3);
}
.info-div-2 {
    margin-top: 80px;
}
.info-imporium {
    display: block;
    text-align: center;
    width: 40vw;
    margin: auto auto;
    padding: 15px 0 15px 0 ;
    font-family: 'M PLUS Code Latin', sans-serif;
}
.info-nft {
    display: block;
    text-align: center;
    width: 40vw;
    margin: auto auto;
    padding-top: 3.3vh;
    z-index: 10;
    font-family: 'M PLUS Code Latin', sans-serif;
}
.imporium-paragraph {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 30px;
    font-family: 'M PLUS Code Latin', sans-serif;
    letter-spacing: 2px;
    /* transform:  skewY(-4deg); 
    transform-origin: bottom left; */
}

.nft-paragraph {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: 'M PLUS Code Latin', sans-serif;
    letter-spacing: 2px;
    /* transform: skewY(4deg);
    transform-origin: bottom right; */
}
.what-is-imporium {
    margin-bottom: 10px;
    font-size: 2.8rem;
    /* transform: skewY(-4deg);
    transform-origin: bottom left; */
}
.what-is-nft {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.8rem;

    /* transform: skewY(4deg); 
    transform-origin: bottom right; */
}
.imporium-demo-img {
    width:350px;
    height:350px;
    margin: auto auto;
    transform-style: preserve-3d;
    animation: imporium-demo 30s linear infinite;
}
.imporium-demo-box {
    display:flex;
    justify-content: center;
    margin:auto auto;
}

.nft-demo-img {
    width:350px;
    height:350px;
    margin: auto auto;
    transform-style: preserve-3d;
    animation: nft-demo 30s linear infinite;
}
.nft-demo-box {
    display:flex;
    justify-content: center;
    margin:auto auto;
}
@keyframes nft-demo {
    0% {
    transform: perspective(1000px) rotateY(0deg);
    }
    100% {
    transform: perspective(1000px) rotateY(360deg);
    }
}
@keyframes imporium-demo {
    0% {
    transform: perspective(1000px) rotateY(0deg) rotate(0deg);;
    }
    100% {
    transform: perspective(1000px) rotateY(360deg) rotate(360deg);;
    }
}


@media only screen and (max-width: 680px) {
    .landing-page-title-1 {
        font-size: 4rem;
        white-space: wrap;
        text-align: center;
    }
    /*
    @-webkit-keyframes nft-demo {
        0% {
        transform: perspective(1000px) rotateY(0deg);
        }
        100% {
        transform: perspective(1000px) rotateY(360deg);
        }
    }
    @-webkit-keyframes imporium-demo {
        0% {
        transform: perspective(1000px) rotateY(0deg) rotate(0deg);;
        }
        100% {
        transform: perspective(1000px) rotateY(360deg) rotate(360deg);;
        }
    }
    */

    .landing-page-2 {
        display:block;
    }
    .landing-page-3 {
        display:block;
    }
    .nft-demo-box {
        display:flex;
        justify-content: center;
    }
    .nft-demo-img {
    width:200px;
    height:200px;
    margin: auto auto;
    /* transform-style: preserve-3d;
    animation: nft-demo 30s linear infinite; */
    animation-play-state: paused !important;
    }

    .imporium-demo-box {
        display:flex;
        justify-content: center;
    }
    .imporium-demo-img {
    width:200px;
    height:200px;
    margin: auto auto;
    /* transform-style: preserve-3d;
    animation: imporium-demo 30s linear infinite; */
    animation-play-state: paused !important;
    }
    .info-imporium {
        display: block;
        text-align: center;
        width: 50vw;
        margin: auto auto;
        padding: 45px;
        padding: 15px 0 15px 0 ;
    }
    .info-nft {
        display: block;
        text-align: center;
        width: 50vw;
        margin: auto auto;
        padding-top: 3.3vh;
    }
    .imporium-paragraph {
        font-size: .5rem;
        line-height: 1.5rem;

        transform:  skewY(0deg);
    }
    
    .nft-paragraph {
        font-size: .5rem;
        line-height: 1.5rem;

    
        transform: skewY(0deg);

    }
    .what-is-imporium {
        margin-bottom: 10px;
        font-size: 1rem;

        transform: skewY(0deg);

    }
    .what-is-nft {
        margin-bottom: 10px;
        font-size: 1rem;
    
        transform: skewY(0deg);

    }
}