@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Orbitron:wght@400;500&display=swap');

.sort-container{

    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.4vh;
}
.sort{

    font-family: 'Orbitron', sans-serif;  
    height: 28px;  
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,.1);
    color:rgb(255, 255, 255);
    letter-spacing: 0.4vh;
}
.option{
    background-color: rgb(40 54 82);
    padding: 2px;
    letter-spacing: 0.4vh;
}
option{
    padding: 2px;
    letter-spacing: 0.4vh;
}
.sort option{
    padding: 2px;
    letter-spacing: 0.4vh;
}