@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Orbitron:wght@400;500&display=swap');

.sort-container{

    font-family: 'Orbitron', sans-serif; 
    /* box-shadow: 7px 7px 5px #71339883;   */
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
.sort{

    font-family: 'Orbitron', sans-serif;  
    height: 28px;  
    background: rgba(238, 229, 229, 0.596);
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.option{

    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
