@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Orbitron:wght@400;500&display=swap');

.gallery{

    display: flex;
}
.card-div{

    width: 350px;
    height: 350px; 
    position: relative;
    padding: 8px;
    display: flex;
    margin: 10px;
    align-content: space-between;
    box-shadow: 10px 10px 5px black;
    border-radius: 4px;

} 
.card-div:hover{
    box-shadow: 12px 12px 6px black;
    padding: 10px;
    transition: all .2s ease;
}
.image{

    width: 100%;
    min-width: 334px;
    max-height: 334px;
    border-radius: 4px;
}
.cards{

    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 60px;
    margin-top: 0;
    padding: 15px;
    align-content: space-around;
    justify-content: space-between;        
}
.row{

    display: flex;
    align-items: center;
    justify-content: center;
}
h3{

    font-family: 'Orbitron', sans-serif;
    margin: 5px;
}
.card-title{

    font-family: 'Orbitron', sans-serif;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 5px;
    width: 300px;
  }
.text {
    
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    filter: drop-shadow(0 0 0.95rem #723398);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.2vw;
}
.card-div:hover .hover-cards{

    transition: 0.2s ease-in-out;
    opacity: 1;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
}
.hover-cards {

    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    width: 100%;
    opacity: 0;
    padding: 15px;
    transition: .5s ease;
    background: rgba(238, 229, 229, 0.835);
    padding: 0;
    box-shadow: 7px 7px 5px #71339883;
}
.eth{

      width: 30px;
      height: 30px;
}
.search-sort{

    display: flex;
    height: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-right: 90px;
    margin-top: 70px;
}
@media only screen and (max-width: 1250px) {
   
    .image{
        max-width: 200px;
        max-height: 200px;     
        min-width: 200px;
        min-height: 200px;     
    }
    .card-div{
        display: flex;
        width: 210px;
        height: 210px; 
        padding: 5px;
        margin: 10px;
        align-content: space-between;
        justify-content: space-evenly;         
    } 
    .hover-cards {
        opacity: 0.7;
    } 
    .text {
        font-size: 14px;
    }
    .card-div:hover{
        padding: 14px;
        transition: all .2s ease;
    }

}
@media only screen and (max-width: 680px) {

    .cards{
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }
    .card-div{
        width: 250px;
        height: 250px; 
        padding: 10px;
        margin: 8px;
    }
    .search-sort{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .hover-cards {
        opacity: 0.7;
    } 
    .text {
        font-size: 12px;     
    }
    .image{
        max-width: 224px;
        max-height: 224px;     
        min-width: 224px;
        min-height: 224px;     
    }

}