.card-div{
    width: 250px;
    height: 250px; 
    padding: 15px;
} 
img{
    width: 100%;
}
.cards{
    display: flex;
}

.gallery{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: conic-gradient(from 88.3deg at 0% 13.31%, rgba(114, 51, 152, 0) -101.25deg, #723398 49.93deg, rgba(114, 51, 152, 0) 258.75deg, #723398 409.93deg);
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

} 