* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
}

.form-container {
  background-image:
   linear-gradient( #b760e04b, 
  #AE6ED7, #AB73D3, #A679CE
  #A181C9, #9B8AC2, #9692BC,
  #9298B8);
  width: 400px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* opacity: 0.7; */
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 16px;
  padding: 120px 50px;
  box-shadow: 2px 2px 8px #000000ab;
  backdrop-filter: blur(5px);
  background-color: rgba(255,255,255,.1);
  background: cover;

}

.form-container h3 {
  color: white;
  font-size: large;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: 0.7vh;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  margin-bottom: 1.5rem;
  font-size: 0.7rem;
  border-bottom: 1px solid rgba(231, 231, 231, 0.8);
}

.input:hover {
  border-bottom: 3px solid #fff;
  transition: 0.2s ease-in-out;
}

#username, 
#username::placeholder {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5rem;
  font-size: 0.8;
  padding-bottom: 0.5;
}

#password, 
#password::placeholder {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5rem;
  font-size: 0.8;
  padding-bottom: 0.5;
}

#button {
  width: 100%;
  background: white;
  border: none;
  border-radius: 30px;
  padding: 14px 14px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #0145ff;
  outline: none;
  cursor: pointer;
}

#button:hover {
  width: 100%;
  background: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 14px 14px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  outline: none;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}
.lable-sign-in {
  font-family: 'Varela Round', sans-serif;
  color: rgba(255, 255, 255, 0.219);
  font-size: large;
  text-align: center;
  margin-bottom: 5rem;

}