* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(67, 56, 159, 0.297);
  padding: 3em;
  height: fit content;
  width: 500px;
  border-radius: 20px;
  border: 1px solid white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  transition: all 0.2s ease-in-out;
}
.create-form input{
  margin: 2%;
  width: 350px;
  justify-content: center;
  opacity: 0.8;
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: center;
  border:solid 2px rgba(74, 62, 179, 0.817);
  border-radius: 16px;
  height: 50px;
}
  .create-container h2 {
    font-weight: 500;
    color: black;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 10%;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  } 
  
  .input-create-form {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
  .textarea-create-form {
    width: 345px;
    opacity: 0.8;
    padding: 2em;
    margin-top: 0.7rem;
    margin-bottom: 0.9em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2)
  }
    .input-create-form:hover {
      background: rgba(255,255,255);
      box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    }
    
      .input-create-form:focus {
        background: rgba(255,255,255);
        box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
      }
    
    
    .input-create-form[type="button"] {
      margin-top: 10px;
      width: 150px;
      font-size: 1rem;
    }
      .input-create-form:hover {
        cursor: pointer;
      }
      
      .input-create-form:active {
        background: rgba(255,255,255,0.2);
      }
  
  .input-create-form:hover {
    margin: 4px;
  }


#input::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: black;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.create-drops {
  background: white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
}
.dropy {
  background: rgba(98, 3, 193, 0.29);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
}
  .dropy-1 {
    height: 80px;
    width: 80px;
    top: 305px;
    left: -390px;
    z-index: -1;
  }
  
  .dropy-2 {
    height: 80px;
    width: 80px;
    bottom: 300px;
    right: -400px;
  }
  
  .dropy-3 {
    height: 100px;
    width: 100px;
    bottom: 330px;
    right: -450px;
    z-index: -1;
  }
  
  .dropy-4 {
    height: 120px;
    width: 120px;
    top: 325px;
    left: -440px;
  }
  
  .dropy-5 {
    height: 60px;
    width: 60px;
    bottom: 290px;
    left: 390px;
    z-index: -1;
  }


a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.submit-button {
  width: 50%;
  background: white;
  opacity: 0.8;
  border: none;
  border-radius: 30px;
  padding: 14px 14px;
  font-size: 0.9rem;
  margin-bottom: -1.5rem;
  margin-top: 1.0rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #020202;
  outline: none;
  cursor: pointer;
}