@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Orbitron:wght@400;500&display=swap');

.search-form ::placeholder{

    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}
.search-input {

    font-family: 'Orbitron', sans-serif; 
    width: 173px;
    height: 28px; 
    padding: 8px;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,.1);
    color:rgb(255, 255, 255);
    letter-spacing: 0.4vh;
}

